[Unit]
Description=Gunicorn instance to service accure intro
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/accure
Environment="PATH=/home/ubuntu/accure/accurevenv/bin"
ExecStart=/home/ubuntu/accure/accurevenv/bin/gunicorn --workers 3 --bind unix:accure.sock wsgi:app

[Install]
WantedBy=multi-user.target